*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  margin: 0;
  font-family: "Spartan", sans-serif;
}

header {
  font-size: 1rem;
  font-weight: 900;
}

section:nth-child(1) {
  padding: 2rem;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #201b2d;
  color: white;
}

.description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.bar {
  height: 6.5rem;
  width: 1rem;
  background-color: white;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p,
.author {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.author {
  color: #c2c7da;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.source {
  font-size: 0.75rem;
  font-weight: 500;
  color: #c2c7da;
}

.creator {
  font-size: 0.75rem;
  font-weight: 700;
}

section:nth-child(2) {
  background-image: url("assets/nasa-image.jpg");
  background-size: cover;
  background-position: center;
  width: 60%;
}
